
body{
    margin: 0px;
    padding: 0px;  
    overflow-x: hidden;
}
.nav{
  
    background-color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%; 
}

.toolbar{
   
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
    max-width: 1320px;
    margin: auto;
    
     }

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;    
}
.menu img{
    padding-right: 11px;
    width: 15px; 
}

.menu :hover{
    transform: translateY(5px);
    transition: all 0.3s ease; 
}

.logo{
    display: flex;
   align-items: center;  
}

.logo .typeform{
    
    width: 120px;
    height: 24px;
    margin-left: 7px;
    overflow:hidden;
    position: relative;  
}

.logo .typeform img{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 108px;
    height: 24px;
    transition: all 0.9s;   
}

.logo:hover .typeform img{
 transform:translateX(-108px);
}


.Products{
    width: 140px;
}

.Solution{
    width: 140px;
}
.Resources{
    width: 140px;
    
}
.Enterprise{
    width: 140px;
}
.Pricing{
    width: 140px;
}

.logo{
    display: flex;
    flex-direction: row;
    padding-right: 70px;
   
}
.buttom{
    display: flex;
   flex-direction: row;
   background-color:aliceblue ;
   
    }
 .btn1{
 padding: 10px 20px;
  margin: 0 5px; 
  border: none;
  border-radius: 5px;
  background-color: rgb(46, 155, 249);
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 12px;
    }

    .btn2{
        padding: 10px 20px;
        margin: 0 5px; 
        border: none;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 251, 251);
        cursor: pointer;
        font-size: 12px;
    }
    .btn2:hover{
        background-color: rgb(46, 44, 44);
    }

    .btn1:hover{
        background-color:rgb(103, 173, 234);
    }

.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    padding-right: 300px;
    max-width: 1200px;
    margin: auto;
}
.video{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 660px;
    height: 501px;

}
.text{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-bottom: 20px;

}
.text1{
    display: flex;
    flex-direction: row;
    font-size: 80px;
    font-weight: 300;
    margin-right: 90px;
    margin-left: 50px;
    width: 500px;
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.text2{
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: start;
    font-size: 20px;
    font-weight: 200;
    font-family:apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    width: 800px;
    margin-top: -80px;
}
.buttom2{
    display: flex;
   flex-direction: row;
   justify-content: start;
   padding-top: 5px;
   
}
.btn3{
    padding: 16px 25px;
        margin: 5px; 
        border:none;
        border-radius: 15px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 251, 251);
        cursor: pointer;
        font-size: 16px;
        font-weight: 300;
        font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;;
    
}
.btn3:hover{
    background-color:rgb(46, 44, 44) ;
}

.logo2-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    
}
.rated{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 19px; /* Anpassen der Schriftgröße nach Bedarf */
    font-weight:290;
    text-decoration: none;
    padding-top: 200px;
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue, sans-serif";
    letter-spacing: 0.03em;
     line-height: 100%;   
}
.logo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 200px;
    max-width: 1200px;
    margin: auto; 
}

.logo2 img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px; /* Abstand zwischen den Logos */
    width: 120px;
    height: 100px;
    align-items: center;  
   
}
.text3{
    display: block;
    text-align: center;
    font-size: 48px; 
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
    font-weight: 350; 
    font-size: 60;
    letter-spacing: -0.00em;
     line-height: 100%;   
     max-width: 1200px;
     margin: auto;
     position: relative;
     top: 80px;
}
.text-middle{
    display: block;
    margin: 0 auto;
    
}
.video2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 845px;
    height: 480px;
    padding: 10%;
    padding-left: 380px;
    max-width: 1200px;
    margin: auto;   
}
.look{
    display: block;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 90px;
    max-width: 1320px;
}
.feel{
    display: flex;
    flex-direction: row;
}
.text4{ 
    margin-right: 300;
    font-size: 45px;
    font-family:"apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";     
}
.text5{

    font-family:"apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    margin-top: 20px;
      
}
.buttom4{
    display: flex;
    justify-content: start;
}

.btn4{
padding: 18px 45px;
margin-top: 20px;
  border: none;
  border-radius: 40px;
  font-weight:600;
  font-family:"apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 12px;
    }

.btn4:hover{
    background-color: rgb(70, 68, 68);
}

.video3{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 845px;
    height: 480px;
    padding-right: 220px;
    padding-top:0%;   
    max-width: 1200px;
    margin: auto;
    

}
.more{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}
.jomle{ 
    max-width: 1320px;
    margin-top: 50px;
    margin-left:150px;
    max-width: 1320px;
}

.jomle1{  
    margin-right: 300px;
    font-size: 45px;
    font-family:"apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    
}

.collect{
    display: flex;
    flex-direction:column;
}
.jomle2{
    font-family:"apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    margin-top: 20px;
    margin-left: 150px;  
}
.buttom5{
    display: flex;
    justify-content: start;
    margin-left: 150px;
}
.btn5{
padding: 18px 45px;
margin-top: 20px;
  border: none;
  border-radius: 40px;
  font-weight:600;
  font-family:"apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 12px;
    }

.btn5:hover{
    background-color: rgb(70, 68, 68);
}

/* aghaze ghesmate zapier ==> 21.07.24*/


.works{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px;
    max-width: 1320px;  
    margin: auto;
}
.text6 {
    display: flex;
    flex-direction: column;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    font-size: 29px;   
}
a{
    color: black;
    font-size: 16px;
    padding-top: 30px;
}
.zapierAx{
    display: flex;
    align-items: center;
}
.zapier{
    background-color: rgb(247, 247, 246);
    padding:24px;
    width: 184px;
    height: 184px;
    border-radius: 52px;
    scroll-snap-align:center;
    margin: 20px;
}
.calendly{
    background-color: rgb(247, 247, 246);
    padding:24px;
    width: 184px;
    height: 184px;
    border-radius: 52px;
    scroll-snap-align:center;
    margin: 20px;
}
.hubspotAx{
    background-color: rgb(247, 247, 246);
    padding:24px;
    width: 184px;
    height: 184px;
    border-radius: 52px;
    scroll-snap-align:center;
    margin: 20px;
}
@media screen and (min-width: 300px) and (max-width :1024px) {
   .zapierAx{
    display: block;
   }
   .text6{
    text-align: center;
    align-items: center;
   }
    }


/*aghaze bakheshe 6box*/

.section6{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1320px;
    margin: auto;
}
.text7 {
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    font-size: 52px;
    font-weight: 450;
    letter-spacing: 3px;
    line-height: 20px;
    padding-bottom: 40px;
    }

.text8{
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    font-size: 22px;
    font-weight: 370;
    letter-spacing: 1px;
    line-height: 24px;
    padding-bottom: 90px;
}
@media screen and (min-width: 300px) and (max-width :1024px) {
    .text7{
        font-size: 24px; 
    }
    .text8{
        font-size: 16px;
        text-align: center;
    }
    }

/* aghaze 6 box edame*/

a{
    display: block;
    text-decoration: none; 
    font-weight: 300;
    font-size: 16px;
   max-width: 1000px;
   margin: auto;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    max-width: 1200px;
    margin: auto;
   width: 80%;
}
.cards{ 
    background-color:rgb(247, 247, 246) ;
    width: 25%;
    height: 180px;
    padding: 35px 55px;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 24px;
    font-weight: 300;
    font-size: 24px;
    text-align: start;
    letter-spacing: 0.7;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    
}
.links{
    display: block;
    align-items: center;
    text-decoration: none;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    letter-spacing: 0.4;
    text-align: start;
    margin-top: 16px;
}
 
.cards:hover {
    background-color: black;
    color: white;
}

.cards:hover a {
    color: white;
}
.links a:hover{
    text-decoration: underline;
}
.pfile {
    width: 14px;
    padding-right: 5px;
}
.pfile:hover { 
    background-color: white;
}



@media screen and (min-width: 430px) and (max-width :1200px) {
.cards{
    width: 46%;
    margin: auto;
    padding-bottom: 30px;
    margin-top: 20px;
    font-size:18px ;
    
}
.links a{
   font-size: 10px;
   display: flex;
}
}

/*ghesmate akhare white*/

.white{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
   
}
.ghesmate1 a{
    padding-top: 120px;
    position: relative;
    font-weight: 500;
    font-size: 20px;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif"; 
    
}
.ghesmate2{
    font-size: 48px;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 350;
    font-size: 65px;
    letter-spacing: 1px;
    padding-top: 130px;
   
}
.ghesmate3{
    padding: 10px;
    position: relative;
    bottom: 35px;
    font-size: 22px;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 350;
    letter-spacing: 1px;
}

/*aghaze ghesmate prozen%*/

.prozent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
    padding-top: 40px;
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: auto;
    margin-bottom: -90px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.darsad1{

    font-size: 45px;
    opacity: 1; /* Initial state */
    animation: fadeIn 3s ease-in-out;
   margin-left: 100px;
}
    
    

.shish{
    font-weight: 300;
}
.of1{
    font-size: 24px;
   margin-bottom: 100px;
}
.darsad2{

    font-size: 45px;
    opacity: 1; /* Initial state */
    animation: fadeIn 3s ease-in-out;
    
}
.panj{
    font-weight: 300;
}
.of2{
    font-size: 24px;
    padding-bottom: 130px;
 
}

.darsad3{

    font-size: 45px;
    opacity: 1; /* Initial state */
    animation: fadeIn 3s ease-in-out;
    margin-right: 100px;

}


.hasht{
    font-weight: 300;
}
.of3{
    font-size: 24px;
    padding-bottom: 100px;
    border-bottom-right-radius: 300px;
}

@media screen and (min-width: 300px) and (max-width :1024px) {
    .prozent{ 
    display: grid;
    justify-content: center;
    }
    .darsad1,.darsad2,.darsad3{
    display:block;
    font-size: 15px;
    opacity: 1; /* Initial state */
    animation: fadeIn 3s ease-in-out;
    }
    .of1,.of2,.of3{
        font-size: 14px;
    }
    }


.zavie{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:white;
    border-bottom-right-radius: 600px;
    height: 100px;
    border-bottom-left-radius: 600px;
    position: relative;
    top:90px;
   
   

}

/*aghaze ghesmate meshki*/


.black{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
  padding-top: 90px;
  font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
  
}
.break{
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 2px;
}
.our{
    font-size: 20px;
    font-weight: 350;
}
.unlimited{
    font-size: 18px;
    font-weight: 200;
    margin-top: -8px;
    padding-bottom: 30px;
}
.dokme{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dokme1{
 padding: 12px;
 padding-left: 40px;
 padding-right: 40px;
 margin-right: 5px;
 border-radius: 12px;
 font-weight: 450;
 font-size: 15px;
 color: black;
}


.dokme1:hover{
    background-color: rgb(211, 211, 211);
    transition: background-color 0.2s;
}

.dokme2{
 padding: 12px;
 padding-left: 20px;
 padding-right: 20px;
 margin-left: 5px;
 border-radius: 12px;
 font-weight: 450;
 font-size: 15px;
 background-color: black;
 color: white;
 outline: 0.5px solid white;
}

.dokme2:hover{
    background-color:rgba(1, 1, 1, 0.602);
    color: rgba(255, 255, 255, 0.857);
    transition: background-color 0.2s;
}


/*aghaze ghesmate akhar*/

.payan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
    padding: 13%;
    
}



.product-menu a{
    display: block;
  justify-content: space-between;
    color: white;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 150;
    
  
}
.product-menu :hover{
    transform: translateX(5px);
    transition: all 0.3s ease;
}
.PRODUCT{
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}

.videoask svg:hover{transform: translateX(5px);
    transition: all 0.3s ease;}

.templates-menu a{
    display: block;
    justify-content: space-between;
    color: inherit;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 150;
  
  
}
.templates-menu :hover{
    transform: translateX(5px);
    transition: all 0.3s ease;
}

.TEMPLATES{
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}

.integrations-menu a{
    display: block;
    justify-content: space-between;
    color: inherit;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 150;
  

}
.integrations-menu :hover{
    transform: translateX(5px);
    transition: all 0.3s ease;
}
.INTEGRATIONS{
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}

.Resources2-menu a{
    display: block;
    justify-content: space-between;
    color: inherit;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 150;
  
}
.Resources2-menu :hover{
    transform: translateX(5px);
    transition: all 0.3s ease; 
}
.Resources2{
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
}
.get-menu a{
    display: block;
    justify-content: space-between;
    color: inherit;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 150;
  
}
.get-menu :hover{
    transform: translateX(5px);
    transition: all 0.3s ease; 
}
.Get{
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 400;  
}

.socialmedia{
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 10px;
}
.socialmedia :hover {

    transform: translateY(5px);
    transition: all 1s;
}

/* pavaraghi*/

.pa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "apercu-pro", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue, sans-serif";
    font-size: 13px;
    outline:1px solid white;
    margin-right: 500px;
    max-width: 3500px;
    margin: auto;
}
.loc{
    margin-left: 150px;
    align-items: center
    
    
}
.loc svg{
  
    margin-right: 8px;
    margin-bottom: -3px; 


}

.pa a{
    color: white;
    text-decoration: underline;
    font-size: 13px;
}
.pa  :hover{
    transform: translateY(5px);
    transition: all 0.3s ease; 
}
.english svg{
    
    margin-right: 8px;
    margin-bottom: -3px; 
    
}
.ctypeform{
    margin-right:150px;
}
.links-pa{
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    padding-bottom: 25px;
    
}
